@using MVC14.Helpers.Constants.Globals
@using Microsoft.AspNetCore.Http

@{
    var username = Context.Session.GetString("Username");
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVC14</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@RouteDisplayName.HomePage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Cart" asp-action="Index">@RouteDisplayName.ShoppingCartPage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Invoice" asp-action="Index">Hóa đơn</a>
                </li>
                @await Component.InvokeAsync("CategoryMenu")
                @if(username != null)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">Xin chào, @username</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">@RouteDisplayName.LogoutPage</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">@RouteDisplayName.LoginPage</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>